.avatar {
  display: inline;
  vertical-align: middle;
  /* width: 50px;
  height: 50px; */
  border-radius: 50%;
}
.tisseur img {
  float: left;
  margin-right: 1em;
}
.tisseur h3 {
  margin: 0;
}
.tisseur p {
  margin: 0;
  margin-bottom: .5em;
}