{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ range $tisseur := .Site.Data.tisseurs }}
          <div class="well tisseur">
            <img class="avatar" src="https://www.gravatar.com/avatar/{{ $tisseur.gravatar }}?d=robohash&r=g"/>
            <h3>{{ $tisseur.nom }}</h3>
            {{ if $tisseur.info }}
            <p>{{ $tisseur.info }}</p>
            {{ end }}
            <ul class="list-inline">
              {{ range $social := $.Site.Data.beautifulhugo.social.social_icons }}
                {{- if isset $tisseur $social.id }}
                <li>
                  <a href="{{ printf .url (index $tisseur $social.id) }}" target="_blank" title="{{ .title }}">
                    <span class="fa-stack">
                      <i class="fa fa-circle fa-stack-2x"></i>
                      <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                    </span>
                  </a>
                </li>
                {{- end -}}
              {{ end }}
            </ul>
          </div>
        {{ end }}
    </div>
  </div>
{{ end }}
